/* CSS files add styling rules to your content */

body {
  font-family: "Open Sans", arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

h2 {
  text-align: center;
  font-size: 30px;
}

p {
  display: inline-block;
  margin: 0px 20px;
  width: 180px;
}
i {
  margin: 15px 10px;
  margin-left: 25px;
}

#latestRunContainerPlaceHolder {
  width: 70%;
  margin: 20px auto;
  background-color: #f9f9f9;
}

.runInfoContainer {
  display: flex;
  flex-wrap: wrap;
}

.runMetric {
  display: flex;
  justify-content: space-between;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

#weatherChartsContainer {
  display: flex;
  flex-basis: calc(50% - 30px);
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#runChartsContainer {
  margin: 20px auto;
}
.runChartsContainer {
  /*display: flex;*/
  display: inline-block !important;
  /*flex-basis: calc(50% - 30px);
  flex-wrap: wrap;
  justify-content: space-between;*/
  width: 30%;
  margin: 20px;
  align-items: center;
}

#bar-chart {
  width: 30%;
  height: 400px;
  display: inline-block !important;
  margin-bottom: 20px;
}

#averageSpeed-chart {
  width: 30%;
  height: 400px;
  display: inline-block !important;
  margin-bottom: 20px;
}
#runDistance-chart {
  width: 30%;
  height: 400px;
  display: inline-block !important;
  margin-bottom: 20px;
}

#map {
  height: 400px;
  width: 80% !important;
  margin: 40px auto;
}

@media screen and (min-width: 500px) {
  #cloudCoverChart {
    width: 30%;
    height: 400px;
    display: inline-block !important;
    margin-bottom: 20px;
  }

  #humidityChart {
    width: 30%;
    height: 400px;
    display: inline-block !important;
    margin-bottom: 20px;
  }

  #temperatureChart {
    width: 30%;
    height: 400px;
    display: inline-block !important;
    margin-bottom: 20px;
  }

  #pressureChart {
    width: 30%;
    height: 400px;
    display: inline-block !important;
    margin-bottom: 20px;
  }

  #windGustChart {
    width: 30%;
    height: 400px;
    display: inline-block !important;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 499px) {
  body {
    margin: 0px 5px;
  }

  .runChartsContainer {
    /*display: flex;*/
    display: inline-block !important;
    /*flex-basis: calc(50% - 30px);
  flex-wrap: wrap;
  justify-content: space-between;*/
    width: 350px !important;
    margin: 10px auto;
  }

  #averageSpeed-chart {
    margin: 0px 10px;
  }

  #runDistance-chart {
    margin: 0px 10px;
  }

  #bar-chart {
    margin: 0px 10px;
  }

  #cloudCoverChart {
    width: 350px !important;
    margin: 10px auto;
  }

  #humidityChart {
    width: 350px !important;
    margin: 10px auto;
    height: 400px;
  }

  #temperatureChart {
    width: 350px !important;
    margin: 10px auto;
    height: 400px;
  }

  #pressureChart {
    width: 350px !important;
    margin: 10px auto;
    height: 400px;
  }

  #windGustChart {
    width: 350px !important;
    margin: 10px auto;
    height: 400px;
  }

  h2 {
    font-size: 18px;
  }

  #latestRunContainerPlaceHolder {
    width: 95%;
  }

  #map {
    width: 90% !important;
    height: 250px;
  }

  .runMetric {
    width: 100% !important;
  }

  i {
    font-size: 16px;
  }
  p {
    width: 100px;
    font-size: 14px;
  }
}
